body {
    background-color: #EAF6F6;
}

hr {
    /* background-color: white; */
    /* border-style: none; */
    height: 0px;
    width: 5%;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
}

h3{
    color:#66BFBF;
}
h1{
    color:#66BFBF;
}
